BACKEND_API_BASE_URL=http://backend:8000
SESSION_COOKIE_NAME=lumina_session

# No domain / no HTTPS yet, so keep this false while visiting by http://47.76.44.89.
SESSION_COOKIE_SECURE=false
SESSION_COOKIE_SAMESITE=lax
SESSION_COOKIE_MAX_AGE_SECONDS=2592000

NEXT_PUBLIC_SUPABASE_URL=https://ohoimeylqegyminxzyrn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_TEMPLATE_BUCKET=lumina-templates
